#color-pallete {
  color: #253c78;
  color: #102b3f;
  color: #759aab;
  color: #faa916;
  color: #fffbfa;
  color: #0a182e; /*background*/
  color: #ccd5f5; /*text title*/
  color: #8891af; /*text*/
  color: #65ffdc; /*accent*/
}

body {
    background-color: #0a182e;
    color: #8891af;
    font-family: "Montserrat", sans-serif;
    line-height: 23px;
    padding: 20px 50px;
    max-width: 800px;
    margin: auto;
}

h1, h2, h3, h4, h5, h6 {
    color: #ccd5f5;
}

a {
    color: #759aab;
}

p {
    line-height: 25px;
    color: #8891af;
}

p strong {
    color: #65ffdc;
}

.divider {
    border-top: 2px solid #65ffdc;    
    border-bottom:2px solid #65ffdc;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#header {
    padding-top: 30px;
    text-align: left;
}

#profile-picture {
    float: left;
}

#profile-picture img {
    border-radius: 100%;
}

#info {
    display: inline-block;
    margin-left: 50px;
}

#info > h3 {
    color: #65ffdc;
    font-weight: 300;
    font-family: monospace;
    padding: 20px 0 0 50px;
    margin-bottom: -15px;
}

#info ul {
    margin-left: 30px;
    font-size: 14px;
    font-weight: 400;
    font-family: monospace;
}

#my-name {
    color: #ccd5f5;
    font-family: inherit;
    font-weight: 700;
    font-size: 50px;
    margin-left: 50px;
}

#description {
    text-align: justify;
    margin: 60px 0 60px 0;
}

#trybe-logo {
    width: 60px;
    margin-bottom: -3px;
    padding-left: 3px;
}

#wrapper {
    background-color: #e7e7e7;
    /* position: relative;
    left: 50%;
    right: 50%;
    width: 100vw;
    margin-left: -50vw;
    margin-right: -50vw; */
    margin-bottom: -16px;
    width: 100vw;
    position: relative;
    margin-left: -50vw;
    left: 50%;
}

#skills {
    max-width: 800px;
    margin: auto;
    padding-top: 20px;
}

#skills h2 {
    color: #0a182e;
}

#skills ul {
    list-style-type: none;
}

#skills li {
    display: inline-block;
}

.accent {
    color: #65ffdc;
}

.icon {
    width: 80px;
    padding: 20px 20px;
}